@import "../assets/chartist.min";


// http://colorbrewer2.org/#type=diverging&scheme=RdBu&n=5
$cSeriesA: #d73027;
$cSeriesC: #fc8d59;
$cSeriesE: #fee090;
$cSeriesD: #91bfdb;
$cSeriesB: #4575b4;
$cSeriesBG: #f7f7f7;

.ct-golden-section.box {
    @media screen {
        background-color: $cSeriesBG;
    }
    @media print {
        -webkit-print-color-adjust: exact;
        background-color: #e3e3e3;
    }

    &:after {
        display: inline;
        height: 0;
    }
}

.chartist-legend {
    p,
    svg {
        float: left;
    }

    p {
        padding-left: 0.4rem;
    }
    @include clearfix()
}

.ct-golden-section svg {
    position: relative;
}

.ct-label {
    color: rgb(0,0,0);
}

.ct-grid {
    stroke: rgb(0,0,0);
}

.ct-horizontal {
    stroke-dasharray: none;
}

.ct-line {
    /* stroke: rgb(0,0,0,.2); */
    stroke-width: 5px;
    stroke-linecap: round;
}

.ct-series-a .ct-bar {
    @media print {
        stroke: rgb(0,0,0);
    }
    stroke: $cSeriesA;
}
.ct-series-a .ct-line {
    @media print {
        stroke: rgb(0,0,0);
    }
    stroke: $cSeriesA;
}

.ct-series-b .ct-bar {
    @media print {
      stroke: rgb(150,150,150);
    }
    stroke: $cSeriesB;
}

.ct-series-b .ct-line {
    @media print {
        stroke: rgb(0,0,0);
        stroke-dasharray: 8,7;
    }
    stroke: $cSeriesB;
}

.ct-series-c .ct-line {
    @media print {
        stroke: rgb(0,0,0);
        stroke-dasharray: 0.01,8;
    }
    stroke: $cSeriesC;
}

.ct-series-d .ct-line {
    @media print {
        stroke: rgb(0,0,0);
    }
    stroke: $cSeriesD;
    stroke-width: 2px;
}

.ct-series-e .ct-line {
    @media print {
        stroke: rgb(0,0,0);
        stroke-dasharray: 0.01,3;
    }
    stroke: $cSeriesE;
    stroke-width: 2px;
}

.ct-label {
    font-size: 1rem;
    line-height: 1;
}

.outerbox {
    width: 600px;
    height: 400px;
}
